spring:
  config:
    import:
      - classpath:oauth-google-resource.yaml
  application:
    name: spring-resource-server
  datasource:
    password: ${SPRING_DATASOURCE_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    hikari:
      connection-timeout: 30000
      initialization-fail-timeout: 0

  jpa:
      database: postgresql
      hibernate:
        ddl-auto: none
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  sql:
    init:
      platform: postgresql

server:
  servlet:
    context-path: /spring-resource-server

logging:
    level:
      org:
        hibernate:
          engine:
            jdbc:
              env:
                internal:
                  LobCreatorBuilderImpl: error
        springframework:
          jdbc:
            datasource:
              init:
                ScriptUtils: debug
          security: DEBUG
          boot.context.config: DEBUG


springdoc:
  swagger-ui:
    path: /swagger-ui.html

